<template>
    <div class="row d-flex justify-content-center">

        <div class="col-md-12 text-center" style="float: left" >

            <div class="card " style="min-height: 380px">
                <div class="card-header text-center">
                    <h4 class="card-title">vehicle Detail</h4>
                </div>
                <div class="card-body text-center">
                    <form id="TypeValidation" v-on:submit.prevent="enter_vehicle()" class="form-horizontal" enctype = "multipart/form-data">

                    <div class="row ">
                        <div class="col-md-6" >

                                <div class="row d-flex justify-content-center">
                                    <div class="col-9">
                                        <div class="form-group">
                                            <h5 class="card-title" style="text-align: left">Car name</h5>
                                            <input v-model="name" class="form-control" type="text" name="title"  />

                                            <span class="text-danger text-center" v-show="!company_text">
                                        <strong>fill this field</strong>
                                      </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-9">
                                        <div class="form-group">
                                            <h5 class="card-title" style="text-align: left">Car number</h5>
                                            <input v-model="number" class="form-control" type="text" name="title"  />
                                            <span class="text-danger text-center" v-show="!catergory_text">
                                        <strong>fill this field</strong>
                                      </span>
                                        </div>
                                    </div>
                                    <!--                                <label class="col-sm-3 label-on-right">-->
                                    <!--                                    <code>email="true"</code>-->
                                    <!--                                </label>-->
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-9">
                                        <div class="form-group">
                                            <h5 class="card-title" style="text-align: left">Date</h5>
                                            <select v-model="loc"  class="form-control" data-size="7" data-style="btn btn-primary btn-round" title="Single Select" name="title" >
                                                <option disabled selected value="0">Select Option</option>
                                                <option v-for="ly in avail_loc" :key="ly.id" v-bind:value="ly.id">
                                                  <strong>  Parking no </strong>: {{ly.locationID}} <strong> floor </strong>: {{ly.floor}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-9" >
                                        <div class="form-group" >
                                            <h5 class="card-title" style="text-align: left">Cnic</h5>
                                            <input v-model="cnic" class="form-control" type="text" name="amount"  />
                                            <span class="text-danger text-center" v-show="!amount_text">
                                        <strong>fill this field</strong>
                                      </span>
                                        </div>
                                    </div>


                                </div>


                        </div>
                        <div class="col-md-6 " style="float: left" >

                            <div  style="min-height: 500px">

                                <div class="card-header text-center">
                                    <h4 class="card-title">Add Image</h4>
                                    <br>
                                </div>
                                <div class="card-body content-center" style="text-align: center!important;" >
                                    <div class="fileinput fileinput-new text-center content-center" data-provides="fileinput" style="align-items: center!important;">
                                        <form v-on:submit.prevent="create_file()"  enctype = "multipart/form-data">
                                            <div class="fileinput-new thumbnail">
                                                <img src="assets/img/image_placeholder.jpg" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <br>
                                            <div>
                        <span class="btn btn-rose btn-round btn-file">
                          <span class="fileinput-new">Select image</span>
                          <span class="fileinput-exists">Change</span>
                          <input v-on:change="onImageChange" type="file" name="file"  />

                        </span>


                                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                            <span class="text-danger text-center" v-show="!image_seleted">
                                        <strong>Add image</strong>
                                      </span>
                                        </form>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer text-center"  >
                        <button :disabled='isDisabled' style="background-color: #c21d30!important;" type="submit" class="btn btn-primary">Add</button>
                    </div>
                    </form>
                </div>

            </div>

        </div>



    </div>
</template>

<script>
    const axios = require('axios');
    const Swal = require('sweetalert2');
    export default {
        name: "addVehicle",
        data() {
            return {
                image_seleted:true,
                Error: "",
                name:"",
                number:"",
                date_time:"",
                cnic:"",
                image:"",
                imagesubmit:false,
                image_id:'',
                scanned:'true',
                max_date:'',
                company_text:true,
                catergory_text:true,
                amount_text:true,
                avail_loc:[],
                loc:"0",



            }
        },
        created() {

        },
        mounted() {
            this.set_max_date_current();
            this.max_date=this.returndate(0);
            axios.get('avail_locations')
                .then( (response) => {
                    this.avail_loc = response.data.locations;
                    console.log(this.avail_loc);
                })
                .catch(function (error) {
                    console.log(error);
                });
            setTimeout(function() {
                /*eslint no-undef: 0*/

                demo.initDateTimePicker();
            }, 600);


        },
        methods: {
            set_max_date_current(){
                var dtToday = new Date();

                var month = dtToday.getMonth() + 1;
                var day = dtToday.getDate();
                var year = dtToday.getFullYear();

                if(month < 10)
                    month = '0' + month.toString();
                if(day < 10)
                    day = '0' + day.toString();

                var maxDate = year + '-' + month + '-' + day;

                $('#datepick').attr('max', maxDate);
            },
            show_self_or_perd()
            {
                this.user_amount = !this.user_amount;
                this.imagesubmit =true;
                this.image_id = '141';
            },
            returndate(days){

                var days; // Days you want to subtract
                var date = new Date();
                var last = new Date(date.getTime() - (days * 24 * 60 * 60 * 1000));
                var finalDate = (last.getMonth()+1)+'/'+last.getDate() +'/'+last.getFullYear();
                return finalDate;
            },
            returndateinputformat(days){

                var days; // Days you want to subtract
                var date = new Date();
                var last = new Date(date.getTime() - (days * 24 * 60 * 60 * 1000));
                var finalDate = last.getDate() +'-'+ (last.getMonth()+1)+'-'+last.getFullYear();
                return finalDate;
            },
            showsuccess(msg) {
                Swal.fire({
                    customClass: {
                        confirmButton: ' btn btn-danger',
                    },
                    buttonsStyling: false,
                    icon: 'success',
                    title: 'Success',
                    text: msg,
                })
            },
            showscustom(title,msg) {
                Swal.fire({
                    customClass: {
                        confirmButton: ' btn btn-danger',
                    },
                    buttonsStyling: false,
                    icon: 'success',
                    title: title,
                    text: msg,
                })
            },
            showerror(er) {
                Swal.fire({
                    customClass: {
                        confirmButton: ' btn btn-danger',
                    },
                    buttonsStyling: false,
                    icon: 'error',
                    title: 'Error',
                    text: er,
                })
            },
            showloading(msg){
                swal({
                    title: msg,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                });
                swal.showLoading();

            },
            onImageChange(e) {
                this.image = e.target.files[0];
                this.image_seleted=true;
                console.log(this.image);
            },
            enter_vehicle() {
                if(this.name.length<1||this.number.length<1||this.cnic.length<1)
                {
                    if(this.name.length<1)
                    {
                        this.company_text=false;
                    }
                    if(this.number.length<1)
                    {
                        this.catergory_text=false;
                    }
                    if(this.cnic.length<1)
                    {
                        this.amount_text=false;
                    }
                    if(this.name.length>0)
                    {
                        this.company_text=true;
                    }
                    if(this.number.length>0)
                    {
                        this.catergory_text=true;
                    }
                    if(this.cnic.length>0)
                    {
                        this.amount_text=true;
                    }
                }
                else
                {

                    var bodyFormData = new FormData();
                    bodyFormData.set('name', this.name);
                    bodyFormData.set('number', this.number);
                    bodyFormData.set('cnic', this.cnic);
                    bodyFormData.set('locationID', this.loc);
                    bodyFormData.append('image', this.image)
                    axios.post('parkVehicle',bodyFormData ).then(resp=>{

                        if (resp.data.error === 'no'){
                            this.showscustom('Great!','Your expense has been add');
                            // this.refresh();
                            // this.$router.push('/')
                            console.log(resp);
                            //
                        }
                        else
                        {
                            this.showerror(resp.data.message);
                            console.log(resp);
                        }
                    });
                }

            },
        },
        computed:{
            isDisabled: function(){
                if(this.imagesubmit===true)
                    return !this.imagesubmit;
            }

        }
    }

</script>

<style scoped>
    #myCheck:checked + #area {
        display: block !important;
    }
</style>

