<template>
    <div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-globe text-warning"></i>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="numbers">
                                    <p class="card-category">Amount today</p>
                                    <p class="card-title">{{amount_today}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-refresh"></i> Update Now
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-money-coins text-success"></i>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="numbers">
                                    <p class="card-category">Total Car parked</p>
                                    <p  class="card-title">{{total_car_parked}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-calendar-o"></i> Last day
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-globe text-warning"></i>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="numbers">
                                    <p class="card-category">Free spaces</p>
                                    <p class="card-title">{{free_spaces}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-refresh"></i> Update Now
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-money-coins text-success"></i>
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="numbers">
                                    <p class="card-category">Total money collected</p>
                                    <p  class="card-title">{{total_money}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-calendar-o"></i> Last day
                        </div>
                    </div>
                </div>
            </div>

        </div>
<!--        <div class="row" >-->
<!--            <div class="col-lg-4 col-sm-6" v-for="ty in exp_types"  v-bind:value="ty.id">-->
<!--                <div class="card">-->
<!--                    <div class="card-header">-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-7">-->
<!--                                <div class="numbers pull-left" v-for="t in types_data"  v-bind:value="t.id">-->
<!--                                    <span v-if="t.id == ty.id">{{t.total}}$</span>-->
<!--                                    &lt;!&ndash;                                <span v-else>0$</span>&ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-5">-->
<!--                                <div class="pull-right">-->
<!--                      <span class="badge badge-pill badge-success">-->
<!--&lt;!&ndash;                        +18%&ndash;&gt;-->
<!--                      </span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h6 class="big-title">total Expenses in year</h6>-->
<!--                        <canvas  :id="ty.title" width="826" height="380"></canvas>-->
<!--                    </div>-->
<!--                    <div class="card-footer">-->
<!--                        <hr>-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-7">-->
<!--                                <div class="footer-title"><h3>{{ty.title}}</h3></div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-5">-->
<!--                                <div class="pull-right">-->
<!--                                    <button class="btn btn-success btn-round btn-icon btn-sm">-->
<!--                                        <i class="nc-icon nc-simple-add"></i>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</template>

<script>
    const axios = require('axios');
    // import Chart from 'chart.js'
    export default {
        name: "Dashboard",
        data() {
            return {
                amount_today:'',
                total_car_parked:'',
                free_spaces:'',
                total_money :'',



            }
        },
        mounted() {

            axios.get('dashboard')
                .then( (response) => {
                    this.amount_today = response.data.money_Today;
                    this.total_car_parked = response.data.total_cars;
                    this.free_spaces=response.data.avail_loc;
                    this.total_money=response.data.total_money;
                    console.log(response);
                    // let self  = this;
                    // setTimeout(function() {
                    //     // console.log(self.exp_types);
                    //     var type;
                    //     for(type = 0; type < self.exp_types.length; type++)
                    //     {
                    //         // console.log(self.chart_data[type+1])
                    //         // console.log(self.exp_types[type].title);
                    //         self.drawbarChart(5, self.chart_data[type+1], self.exp_types[type].title);
                    //         //this.drawbarChart(5, 10, 'grocery');
                    //         // this.drawbarChart(5, 10, 'activeCountries');
                    //     }
                    // }, 600);


                })
                .catch(function (error) {
                    console.log(error);
                });
            // console.log(this.exp_types);


        },
        methods: {

            drawbarChart (sites, data_array, chart_id) {

                var total=0;
                let array= [0,0,0,0,0,0,0,0,0,0,0,0];
                data_array.forEach(myFunction);

                function myFunction(item) {
                    total += item['total'];
                    //console.log('item');
                    //console.log(item['total']);
                    array[item['month']-1]=item['total']

                    console.log('array');
                    console.log(array);


                }
                console.log(total);
                let percentage = sites / total * 100
                percentage = percentage.toFixed(2)



                const ctx = document.getElementById(chart_id).getContext('2d')
                Chart.pluginService.register({
                    beforeDraw: (chart) => {
                        this.initChart(chart)
                    }
                })


                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                        datasets: [

                            {
                                label: "Data",
                                borderColor: '#fcc468',
                                fill: true,
                                backgroundColor: '#fcc468',
                                hoverBorderColor: '#fcc468',
                                borderWidth: 5,
                                data: array,
                            }
                        ]
                    },
                    options: {

                        tooltips: {
                            tooltipFillColor: "rgba(0,0,0,0.5)",
                            tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                            tooltipFontSize: 14,
                            tooltipFontStyle: "normal",
                            tooltipFontColor: "#fff",
                            tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                            tooltipTitleFontSize: 14,
                            tooltipTitleFontStyle: "bold",
                            tooltipTitleFontColor: "#fff",
                            tooltipYPadding: 6,
                            tooltipXPadding: 6,
                            tooltipCaretSize: 8,
                            tooltipCornerRadius: 6,
                            tooltipXOffset: 10,
                        },


                        legend: {

                            display: false
                        },
                        scales: {

                            yAxes: [{
                                ticks: {
                                    fontColor: "#9f9f9f",
                                    fontStyle: "bold",
                                    beginAtZero: true,
                                    maxTicksLimit: 5,
                                    padding: 20
                                },
                                gridLines: {
                                    zeroLineColor: "transparent",
                                    display: true,
                                    drawBorder: false,
                                    color: '#9f9f9f',
                                }

                            }],
                            xAxes: [{
                                barPercentage: 0.4,
                                gridLines: {
                                    zeroLineColor: "white",
                                    display: false,

                                    drawBorder: false,
                                    color: 'transparent',
                                },
                                ticks: {
                                    padding: 20,
                                    fontColor: "#9f9f9f",
                                    fontStyle: "bold"
                                }
                            }]
                        }
                    }
                });
                const chartColor = "#FFFFFF";

                const gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
                gradientStroke.addColorStop(0, '#80b6f4');
                gradientStroke.addColorStop(1, chartColor);

                const gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
                gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
                gradientFill.addColorStop(1, "rgba(249, 99, 59, 0.40)");
                console.log(myChart)
            },
            initChart (chart) {
                if (chart.config.options.elements.center) {
                    // Get ctx from string
                    const ctx = chart.chart.ctx
                    // Get options from the center object in options
                    const centerConfig = chart.config.options.elements.center
                    const fontStyle = centerConfig.fontStyle || 'Arial'
                    const txt = centerConfig.text
                    const color = centerConfig.color || '#000'
                    const sidePadding = centerConfig.sidePadding || 20
                    const sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
                    // Start with a base font of 30px
                    ctx.font = '30px ' + fontStyle
                    // Get the width of the string and also the width of the element minus 10 to give it 5px side padding
                    const stringWidth = ctx.measureText(txt).width
                    const elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated
                    // Find out how much the font can grow in width.
                    const widthRatio = elementWidth / stringWidth
                    const newFontSize = Math.floor(30 * widthRatio)
                    const elementHeight = (chart.innerRadius * 2)
                    // Pick a new font size so it will not be larger than the height of label.
                    const fontSizeToUse = Math.min(newFontSize, elementHeight)
                    // Set font settings to draw it correctly.
                    ctx.textAlign = 'center'
                    ctx.textBaseline = 'middle'
                    const centerX = ((chart.chartArea.left + chart.chartArea.right) / 2)
                    const centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2)
                    ctx.font = fontSizeToUse + 'px ' + fontStyle
                    ctx.fillStyle = color
                    // Draw text in center
                    ctx.fillText(txt, centerX, centerY)
                }
            }


        }
    }
</script>

<style scoped>

</style>
