<template>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12"><h4 class="card-title" >Miles Overview </h4></div>
                            <div class="col-6 "></div>
                            <div class="col-6 "><div class="row text-right" style="margin-top: -.5rem">

                                <div class="col-6 ">
                                    <!--                                    <input @click="" style="background-color: #c21d30!important;font-size:0.5rem" type="button" class="btn" value="Download" v-show="view === false">-->
                                    <!--                                    &lt;!&ndash;                                            <button  type="button" class="btn btn-info" id="btnPdf">Export Chart <i class="mdi mdi-file-pdf"></i></button>&ndash;&gt;-->
                                    <!--                                    <button class="btn" @click="on_download_sheet" style="background-color: #808080!important;width: 4px">-->
                                    <!--                                      <span class="btn-label">-->
                                    <!--                                          <i class="nc-icon nc-cloud-download-93" style="margin-left:-.3rem"></i>-->
                                    <!--                                       </span>-->
                                    <!--                                    </button>-->
                                </div>
                                <div class="col-6 icon">
                                    <button class="btn " @click="refresh" style="background-color: #808080!important;width: 4px">
                                      <span class="btn-label">
                                          <i  class="nc-icon nc-refresh-69" style="margin-left:-.3rem"></i>
                                       </span>
                                    </button>

                                </div>
                            </div>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="icon-big icon-warning" style="float: left">
                                                <div class="nc-icon nc-money-coins text-success">
                                                    <h5 class="card-title" style="color: black;font-size: 60%">${{total_Amount}}</h5>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <router-link to="/data">
                                        <h5 class="card-category">Amount collected Today</h5>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="icon-big  icon-warning" style="float: left;width: 100%" >
                                                <div class="nc-icon nc-delivery-fast text-info" >
                                                    <h5 class="card-title" style="color: black;font-size: 60%;">{{total_cars}}</h5>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <h5  class="card-category"> Car Parked </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%" >
                        <thead>
                        <tr>
                            <th>Car name</th>
                            <th>Car number</th>
                            <th>Date</th>
                            <th>Cnic</th>
                            <th class="disabled-sorting text-right">Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Car name</th>
                            <th>Car number</th>
                            <th>Date</th>
                            <th>Cnic</th>
                            <th class="disabled-sorting text-right">Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr v-for="record in parkedVehicles" :key="record.id">
                            <td>{{record.car.CarName}}</td>
                            <td>{{record.car.CarNumber}}</td>
                            <td>{{formatDate(record.created_at)}}</td>
                            <td>{{record.car.CNIC}}</td>
                            <td class="text-center">
                                <button v-on:click="delete_expense(record.id)">Exit Car</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
        <div class="modal" tabindex="-1" role="dialog" id="custom_date">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" style="float: left">Custom Date</h3>
                        <button type="button" class="close close-room" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding: 5%!important;">
                        <div class="col-md-12">
                            <div class="row" >
                                <div class="col-md-6">
                                    <div>
                                        <div class="card-body ">
                                            <div class="form-group">
                                                <h5 class="card-title">Start Date </h5>
                                                <input @change="onChangeDatestart($event)" type="date" v-model="start_date"  class="form-control " required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="card-body ">
                                        <div class="form-group">
                                            <h5 class="card-title">End Date</h5>
                                            <input  @change="onChangeDateend($event)" type="date" v-model="end_date" class="form-control " required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="text-center" >
                            <button @click="" type="button" class="btn btn-primary"  style="background-color: #c21d30!important;margin-right: 13rem!important;">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="download_sheet">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="float: left">Download Expense Report</h5>

                    </div>
                    <div class="modal-body" style="padding: 5%!important;">
                        <div class="col-md-12">
                            <div class="row" >
                                <span>Would you like your expense report sent to you via email?</span>
                            </div>


                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-5">

                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6">

                                        <div class="text-center"  style="float: left">
                                            <button @click="excel()" type="button" class="btn btn-primary"  style="background-color: #c21d30!important;margin-right: 13rem!important;">Yes</button>
                                        </div>
                                    </div>
                                    <div class="col-6"><div class="text-center" >
                                        <button  type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" style="background-color: #c21d30!important;margin-right: 13rem!important;">No</button>
                                    </div></div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    const axios = require('axios');
    const Swal = require('sweetalert2');
    export default {
        name: "exitVehicle",

        data() {
            return {
                Error: "",
                view:true,
                columns : [
                    {
                        label: "ID",
                        field: "id",
                    },
                    {
                        label: "Company",
                        field: "company",

                    },
                    {
                        label: "Amount",
                        field: "amount",
                        dataFormat: this.priceFormat
                    },
                    {
                        label: "Date & Time",
                        field: "date_time",
                    },
                    {
                        label: "Category",
                        field: "type.title",
                    },
                ],
                parkedVehicles:[],
                start_date:"",
                end_date:"",
                types:[],
                sum_data:[],
                table:{},
                total_Amount:'',
                total_expenses:'',
                total_cars:'',
                time_period:'0',
                custom :false,
                data_view:'2',
                max_date:'',
            }
        },
        mounted() {
            //get today date as max date
            this.max_date=this.returndate(0);
            axios.get('parkedVehicles')
                .then( (response) => {
                    this.parkedVehicles = response.data.result;
                     this.total_Amount = response.data.moneyCollected;
                     this.total_cars = response.data.carParked;
                    this.datatableShow();
                    console.log(response)
                })
                .catch(function (error) {
                    console.log(error);
                });

        },
        created() {


        },
        methods: {
            formatDate(date){
                if(date != null){
                    let fDate = new Date(date);
                    var dd = (fDate.getDate() < 10 ? '0' : '') + fDate.getDate();
                    var MM = ((fDate.getMonth() + 1) < 10 ? '0' : '') + (fDate.getMonth() + 1);
                    var yyyy = (fDate .getFullYear());
                    return MM + "/" + dd + "/" + yyyy;
                }
                else
                {
                    return "No date";
                }


            },
            editcall(){
                this.$store.state.Editroute = true;
            },
            datatableShow(){
                setTimeout(function(){
                    /*eslint no-undef: 0*/
                    demo.initDateTimePicker();
                    this.table = $('#datatable').DataTable({
                        // dom: 'Bfrtip',
                        "order": [[ 4, "desc" ]],
                        "pagingType": "simple",
                        // "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf'
                        ],
                        responsive: true,
                        language: {
                            search: "_INPUT_",
                            searchPlaceholder: "Search records",
                        }

                    });

                    var table = $('#datatable').DataTable();

                    // Edit record
                    table.on('click', '.edit', function() {
                        $tr = $(this).closest('tr');

                        var data = table.row($tr).data();
                        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
                    });

                    // Delete a record
                    table.on('click', '.remove', function(e) {
                        $tr = $(this).closest('tr');
                        table.row($tr).remove().draw();
                        e.preventDefault();
                    });

                    //Like record
                    table.on('click', '.like', function() {
                        alert('You clicked on Like button');
                    });
                }, 1000);
            },
            on_download_sheet(){
                $('#download_sheet').modal('show');

            },
            on_download_sheet_hide(){
                $('#download_sheet').modal('hide');

            },
            onChange(event) {
                if(event.target.value === '5')
                {
                    this.custom = true;
                    $('#custom_date').modal('show');
                }
                else
                {

                    var e_date = this.returndate(0);
                    var s_date;
                    if(event.target.value === '4')
                    {

                        s_date = this.returndate(365);
                    }
                    if(event.target.value === '3')
                    {

                        s_date =  this.returndate(1000);
                    }
                    if(event.target.value === '2')
                    {

                        s_date =  this.returndate(30);
                    }
                    if(event.target.value === '1')
                    {

                        s_date =  this.returndate(7);
                    }


                    this.custom = false;
                    this.start_date=s_date;
                    this.end_date=e_date;
                    this.expense_between_date_data();
                }
            },
            onChangeDatestart(event){
                // if(this.end_date != ''){
                //     this.expense_between_date_data();
                // }
                var d1 = Date.parse(this.start_date);
                var d2 = Date.parse(this.end_date);
                if(d1>d2){
                    this.showerror('invalid date selection');
                }

            },
            onChangeDateend(event){

                var d1 = Date.parse(this.start_date);
                var d2 = Date.parse(this.end_date);
                if(d1>d2){
                    this.showerror('invalid date selection');
                }
            },
            returndate(days){

                var days; // Days you want to subtract
                var date = new Date();
                var last = new Date(date.getTime() - (days * 24 * 60 * 60 * 1000));
                var finalDate = (last.getMonth()+1)+'/'+last.getDate() +'/'+last.getFullYear();
                return finalDate;
            },
            showloading(msg){
                swal({
                    title: msg,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                });
                swal.showLoading();

            },
            showsuccess(msg) {
                Swal.fire({
                    customClass: {
                        confirmButton: ' btn btn-danger',
                    },
                    buttonsStyling: false,
                    icon: 'success',
                    title: 'Success',
                    text: msg,
                })
            },
            showscustom(title,msg) {
                Swal.fire({
                    customClass: {
                        confirmButton: ' btn btn-danger',
                    },
                    buttonsStyling: false,
                    icon: 'success',
                    title: title,
                    text: msg,
                })
            },
            showerror(er) {
                Swal.fire({
                    customClass: {
                        confirmButton: ' btn btn-danger',
                    },
                    buttonsStyling: false,
                    icon: 'error',
                    title: 'Error',
                    text: er,
                })
            },
            delete_expense(id) {
                axios.get('exitVehicle/'+id,)
                    .then( (response) => {
                        console.log(response);
                        this.showsuccess('Car exited');
                        this.refresh();
                    })
                    .catch(function (error) {
                        this.showerror(error)
                    });
            },
            refresh() {
                axios.get('parkedVehicles')
                    .then( (response) => {
                        this.parkedVehicles = response.data.result;
                        this.total_Amount = response.data.moneyCollected;
                        this.total_cars = response.data.carParked;
                        this.datatableShow();
                        console.log(response)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
        }

    }
</script>

<style scoped>
    .dt-buttons{
        display: none !important;
    }
</style>
