<template>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12"><h4 class="card-title" >Parking Overview </h4></div>
                            <div class="col-6 "></div>
                            <div class="col-6 "><div class="row text-right" style="margin-top: -.5rem">

                                <div class="col-6 ">
                                </div>
                                <div class="col-6 icon">
                                    <button class="btn " @click="refresh" style="background-color: #808080!important;width: 4px">
                                      <span class="btn-label">
                                          <i  class="nc-icon nc-refresh-69" style="margin-left:-.3rem"></i>
                                       </span>
                                    </button>

                                </div>
                            </div>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="icon-big icon-warning" style="float: left">
                                                <div class="nc-icon nc-money-coins text-success">
                                                    <h5 class="card-title" style="color: black;font-size: 60%">${{total_Amount}}</h5>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <h5 class="card-category">Total Amount collected</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="icon-big  icon-warning" style="float: left;width: 100%" >
                                                <div class="nc-icon nc-delivery-fast text-info" >
                                                    <h5 class="card-title" style="color: black;font-size: 60%;">{{total_cars}}</h5>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <router-link to="/milesData">
                                        <h5  class="card-category">Total cars entered</h5>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form >
                        <div class="row" >
                            <div class=" col-md-3 col-6" style="margin-left: -.7rem">
                                <div class="card-body ">
                                    <div class="form-group">
                                        <select v-model="time_period"  @change="onChange($event)" class="form-control" style="width: 120%">
                                            <option value="0" disabled selected="selected">Time Period</option>
                                            <option value="1">1 Week</option>
                                            <option value="2">1 Month</option>
                                            <option value="3">To Date</option>
                                            <option value="4">All year</option>
                                            <option value="5">Custom</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-3 col-6">
                                <div class="card-body ">
                                    <div class="form-group">
                                        <select v-model="data_view" @change="onChangeview($event)" class="form-control" style="width: 120%">
                                            <option value="1"  disabled selected="selected">View</option>
                                            <option value="3" >Chart</option>
                                            <option value="2">Table</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                    <!--                    <div class="toolbar">-->
                    <!--                        &lt;!&ndash;        Here you can write extra buttons/actions for the toolbar              &ndash;&gt;-->
                    <!--                    </div>-->
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%" v-show='!view'>
                        <thead>
                        <tr>
                            <th>Car name</th>
                            <th>Car number</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th class="disabled-sorting text-right">Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Car name</th>
                            <th>Car number</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th class="disabled-sorting text-right">Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr v-for="r in record" :key="r.id">
                            <td>{{r.car.CarName}}</td>
                            <td>{{r.car.CarNumber}}</td>
                            <td>{{formatDate(r.created_at)}}</td>
<!--                            <td>{{record.car.CNIC}}</td>-->
                            <td>{{exit_status(r.exited_at)}}</td>
                            <td class="text-right">
                                <!--                                <a href="#" class="btn btn-info btn-link btn-icon btn-sm like"><i class="fa fa-heart"></i></a>-->
                                <a href="#" @click="editcall" class="btn btn-warning btn-link btn-icon btn-sm edit"> <router-link :to="'/expense/edit/'+r.id" ><i class="fa fa-edit"></i></router-link></a>
                                <a v-on:click="delete_expense(r.id)" class="btn btn-danger btn-link btn-icon btn-sm remove" ><i class="fa fa-times"></i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="col-md-12" v-show='view' style="display:none">
                        <div class="card " style="width: 120%;margin-left: -1.5rem !important">
                            <div class="card-header ">
                                <h5 class="card-title">Expense Overview </h5>
                                <!--                                <p class="card-category">Total record</p>-->
                            </div>
                            <div class="card-body" style="padding: .0em !important">
                                <div  id="graph" >
                                    <canvas id="chartEmail" class="ct-chart ct-perfect-fourth" width="600" height="700"></canvas>
                                </div>
                            </div>
                            <div class="card-footer ">
                                <div class="legend">

                                </div>
                                <hr>
                                <div class="stats">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
        <div class="modal" tabindex="-1" role="dialog" id="custom_date">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" style="float: left">Custom Date</h3>
                        <button type="button" class="close close-room" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding: 5%!important;">
                        <div class="col-md-12">
                            <div class="row" >
                                <div class="col-md-6">
                                    <div>
                                        <div class="card-body ">
                                            <div class="form-group">
                                                <h5 class="card-title">Start Date </h5>
                                                <input @change="onChangeDatestart($event)" type="date" v-model="start_date"  class="form-control " required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="card-body ">
                                        <div class="form-group">
                                            <h5 class="card-title">End Date</h5>
                                            <input  @change="onChangeDateend($event)" type="date" v-model="end_date" class="form-control " required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="text-center" >
                            <button @click="expense_between_date_data" type="button" class="btn btn-primary"  style="background-color: #c21d30!important;margin-right: 13rem!important;">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="download_sheet">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="float: left">Download Expense Report</h5>

                    </div>
                    <div class="modal-body" style="padding: 5%!important;">
                        <div class="col-md-12">
                            <div class="row" >
                                <span>Would you like your expense report sent to you via email?</span>
                            </div>


                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-5">

                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6">

                                        <div class="text-center"  style="float: left">
                                            <button @click="excel()" type="button" class="btn btn-primary"  style="background-color: #c21d30!important;margin-right: 13rem!important;">Yes</button>
                                        </div>
                                    </div>
                                    <div class="col-6"><div class="text-center" >
                                        <button  type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" style="background-color: #c21d30!important;margin-right: 13rem!important;">No</button>
                                    </div></div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    const axios = require('axios');
    const Swal = require('sweetalert2');
    export default {
        name: "parkingReport",

        data() {
            return {
                Error: "",
                view:true,
                columns : [
                    {
                        label: "ID",
                        field: "id",
                    },
                    {
                        label: "Company",
                        field: "company",

                    },
                    {
                        label: "Amount",
                        field: "amount",
                        dataFormat: this.priceFormat
                    },
                    {
                        label: "Date & Time",
                        field: "date_time",
                    },
                    {
                        label: "Category",
                        field: "type.title",
                    },
                ],
                record:[],
                start_date:"",
                end_date:"",
                types:[],
                sum_data:[],
                table:{},
                total_Amount:'',
                total_expenses:'',
                total_cars:'',
                time_period:'0',
                custom :false,
                data_view:'1',
                max_date:'',
                chart_data:[],
                chart_data_types:[],
                chart_data_sums:[],
                all_types:[],
            }
        },
        mounted() {


            this.max_date=this.returndate(0);

            axios.get('report')
                .then( (response) => {
                    this.record = response.data.result;
                    this.total_Amount = response.data.total_money;
                    this.total_cars = response.data.total_cars;
                     this.chart_data=response.data.chart_Data;
                    // this.all_types=response.data.alltypes;
                    // this.chartData(this.chart_data,this.chart_data.length);
                    // this.datatableShow();
                     this.drawbarChart(this.types, this.chart_data, 'chartEmail');
                    // console.log(this.record);
                    console.log(response)
                })
                .catch(function (error) {
                    console.log(error);
                });

        },created() {


        },
        methods: {
            chartData(data,lenght){
                this.chart_data_types =[];
                this.chart_data_sums =[];
                for(let i =0;i < lenght;i++){
                    this.chart_data_types.push(this.gettype(data[i].type_id));
                    this.chart_data_sums.push(data[i].sum.toFixed(2));
                }
                console.log(this.chart_data_types);
                console.log(this.chart_data_sums);

            },
            gettype(id){
                for (let i = 0; i< this.all_types.length;i++){
                    if(id === this.all_types[i].id)
                    {
                        return this.all_types[i].title;
                    }
                }
            },
            exit_status(status){
              if (status != null){
                  return 'exited'
              }
              return 'parked'
            },
            formatDate(date){
                if(date != null){
                    let fDate = new Date(date);
                    var dd = (fDate.getDate() < 10 ? '0' : '') + fDate.getDate();
                    var MM = ((fDate.getMonth() + 1) < 10 ? '0' : '') + (fDate.getMonth() + 1);
                    var yyyy = (fDate .getFullYear());
                    return MM + "/" + dd + "/" + yyyy;
                }
                else
                {
                    return "No date";
                }


            },
            editcall(){
                this.$store.state.Editroute = true;
            },
            datatableShow(){
                setTimeout(function(){
                    /*eslint no-undef: 0*/
                    demo.initDateTimePicker();
                    this.table = $('#datatable').DataTable({
                        // dom: 'Bfrtip',
                        "order": [[ 2, "desc" ]],
                        "pagingType": "simple",
                        // "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf'
                        ],
                        responsive: true,
                        language: {
                            search: "_INPUT_",
                            searchPlaceholder: "Search records",
                        }

                    });

                    var table = $('#datatable').DataTable();

                    // Edit record
                    table.on('click', '.edit', function() {
                        $tr = $(this).closest('tr');

                        var data = table.row($tr).data();
                        alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
                    });

                    // Delete a record
                    table.on('click', '.remove', function(e) {
                        $tr = $(this).closest('tr');
                        table.row($tr).remove().draw();
                        e.preventDefault();
                    });

                    //Like record
                    table.on('click', '.like', function() {
                        alert('You clicked on Like button');
                    });
                }, 1000);
            },
            on_download_sheet(){
                $('#download_sheet').modal('show');

            },
            on_download_sheet_hide(){
                $('#download_sheet').modal('hide');

            },
            onChange(event) {
                if(event.target.value === '5')
                {
                    this.custom = true;
                    $('#custom_date').modal('show');
                }
                else
                {

                    var e_date = this.returndate(0);
                    var s_date;
                    if(event.target.value === '4')
                    {

                        s_date = this.returndate(365);
                    }
                    if(event.target.value === '3')
                    {

                        s_date =  this.returndate(1000);
                    }
                    if(event.target.value === '2')
                    {

                        s_date =  this.returndate(30);
                    }
                    if(event.target.value === '1')
                    {

                        s_date =  this.returndate(7);
                    }


                    this.custom = false;
                    this.start_date=s_date;
                    this.end_date=e_date;
                    this.expense_between_date_data();
                }
            },
            onChangeview(event) {
                if(event.target.value === '2')
                {
                    this.datatableShow();
                    // $("#datatable_wrapper").show();
                    this.view = false;
                    $('.page-link').hide();
                }
                else
                {
                    this.view = true;
                    $('#datatable').DataTable().destroy();
                    //  $("#datatable_wrapper").hide();
                    // $('#datatable').DataTable().destroy();
                }
                this.data_view =event.target.value
            },
            onChangeDatestart(event){
                // if(this.end_date != ''){
                //     this.expense_between_date_data();
                // }
                var d1 = Date.parse(this.start_date);
                var d2 = Date.parse(this.end_date);
                if(d1>d2){
                    this.showerror('invalid date selection');
                }

            },
            onChangeDateend(event){

                var d1 = Date.parse(this.start_date);
                var d2 = Date.parse(this.end_date);
                if(d1>d2){
                    this.showerror('invalid date selection');
                }
            },
            returndate(days){

                var days; // Days you want to subtract
                var date = new Date();
                var last = new Date(date.getTime() - (days * 24 * 60 * 60 * 1000));
                var finalDate = (last.getMonth()+1)+'/'+last.getDate() +'/'+last.getFullYear();
                return finalDate;
            },
            changeview(){
                this.view =!this.view;
            },
            excel(){

                this.showloading('Wait');
                const auth = {
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8' ,
                        "Authorization":'Bearer ' + localStorage.getItem('access_token')
                    }
                };
                let tempdata = {
                    data : this.expenses,
                }
                var bodyFormData = new FormData();
                bodyFormData.set('data', JSON.stringify(this.expenses));
                axios.post('api/expense/sendemail',tempdata , auth
                ).then(resp=>{
                    console.log(resp);
                    if(resp.data.error === 'no')
                    {
                        this.showscustom('Great!','Check your email to see your report.');
                        // $('#datatable').DataTable().button( '.buttons-excel' ).trigger();
                        $('#download_sheet').modal('hide');
                    }
                    else
                    {
                        this.showerror(resp.data.message);
                        console.log(resp);
                    }

                });

            },
            showloading(msg){
                swal({
                    title: msg,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                });
                swal.showLoading();

            },
            showsuccess(msg) {
                Swal.fire({
                    customClass: {
                        confirmButton: ' btn btn-danger',
                    },
                    buttonsStyling: false,
                    icon: 'success',
                    title: 'Success',
                    text: msg,

                })
            },
            showscustom(title,msg) {
                Swal.fire({
                    customClass: {
                        confirmButton: ' btn btn-danger',
                    },
                    buttonsStyling: false,
                    icon: "success",
                    title: title,
                    text: msg,
                })
            },
            showerror(er) {
                Swal.fire({
                    confirmButtonColor:"#c21d30",
                    icon: 'error',
                    title: 'Error',
                    text: er,
                })
            },
            delete_expense(id) {
                const auth = {
                    headers: {
                        "content-type": "application/x-www-form-urlencoded" ,
                        "Authorization":'Bearer ' + localStorage.getItem('access_token')
                    }
                };
                axios.get('api/expense/delete/'+id,auth)
                    .then( (response) => {

                        console.log(response);
                        this.showsuccess(response.data.message);
                        this.refresh();
                    })
                    .catch(function (error) {
                        this.showerror(error)
                    });
            },
            refresh() {
                axios.get('')
                    .then( (response) => {
                        $('#datatable').DataTable().destroy();
                        this.record=[];
                        this.record = response.data.result;
                        this.total_Amount = response.data.total_amount;
                        this.total_expenses = response.data.total_expenses;
                        if(this.view==false)
                        {
                            this.datatableShow();
                        }
                        this.chart_data=response.data.chart_Data;
                        // this.all_types=response.data.alltypes;
                        // this.chartData(this.chart_data,this.chart_data.length);
                        // this.removegraph();
                         this.drawbarChart(this.types, this.chart_data, 'chartEmail');
                        console.log(this.record);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            expense_between_date_data() {

                if(this.start_date.length<1||this.end_date.length<1)
                {

                    {
                        this.showerror('select start and end date');
                    }

                }
                else
                {
                    var bodyFormData = new FormData();
                    bodyFormData.set('start', this.start_date);
                    bodyFormData.set('end', this.end_date);
                    const auth = {
                        headers: {
                            "content-type": "application/x-www-form-urlencoded" ,
                            "Authorization":'Bearer ' + localStorage.getItem('access_token')
                        }
                    };
                    axios.post('api/expense/betweendate', bodyFormData , auth).then(resp=>{

                        if (resp.data.error === 'no'){

                            $('#datatable').DataTable().destroy();
                            this.record=[];
                            this.record = resp.data.record;
                            if(this.view==false)
                            {
                                this.datatableShow();
                            }
                            this.chart_data=resp.data.sumdata;
                            this.all_types=resp.data.alltypes;
                            this.chartData(this.chart_data,this.chart_data.length);
                            this.removegraph();
                            this.drawbarChart(this.chart_data_types, this.chart_data_sums, 'chartEmail');
                            console.log(resp);

                            this.showscustom('Data between these two dates',this.start_date+'  '+this.end_date);
                            $('#custom_date').modal('hide');
                            this.start_date='';
                            this.end_date ='';
                            this.custom=false;
                            this.time_period='0';
                        }
                        else
                        {
                            this.showerror(resp.data.message);
                        }
                    });
                }

            },
            removegraph(){
                $('#chartEmail').remove();
                $('#graph').append('<canvas id="chartEmail" class="ct-chart ct-perfect-fourth" width="600" height="700"></canvas>');

            },
            drawbarChart (types, sumdata, chart_id) {

                var total=0;
                let array= [0,0,0,0,0,0,0,0,0,0,0,0];
                var x = 0;

                let colors = [
                    '#FF6633', '#FFB399',
                    '#FF33FF', '#FFFF99',
                    '#00B3E6', '#E6B333',
                    '#3366E6', '#999966',
                    '#99FF99', '#B34D4D',
                    '#DB7093', '#EEE0E5',
                    '#EE1289', '#FF83FA',
                    '#FFBBFF',   '#EE00EE'


                ];

                console.log( sumdata);



                const ctx = document.getElementById(chart_id).getContext('2d')
                Chart.pluginService.register({
                    beforeDraw: (chart) => {
                        this.initChart(chart)
                    }
                })


                const myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['parked','Not parked'],
                        datasets: [{
                            label: "Expenses",
                            pointRadius: 0,
                            pointHoverRadius: 0,
                            backgroundColor: colors,
                            borderWidth: 0,
                            data:sumdata
                        }]
                    },
                    options: {
                        elements: {

                        },
                        cutoutPercentage: 50,
                        legend: {
                            position: 'bottom',
                            display: true,
                            fontSize:7,
                        },

                        tooltips: {
                        },

                        scales: {
                            yAxes: [{

                                ticks: {
                                    display: false
                                },
                                gridLines: {
                                    drawBorder: false,
                                    zeroLineColor: "transparent",
                                    color: 'rgba(255,255,255,0.05)'
                                }

                            }],

                            xAxes: [{
                                barPercentage: 1.6,
                                gridLines: {
                                    drawBorder: false,
                                    color: 'rgba(255,255,255,0.1)',
                                    zeroLineColor: "transparent"
                                },
                                ticks: {
                                    display: false,
                                }
                            }]
                        },
                    }
                });
                const chartColor = "#FFFFFF";

                const gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
                gradientStroke.addColorStop(0, '#80b6f4');
                gradientStroke.addColorStop(1, chartColor);

                const gradientFill = ctx.createLinearGradient(0, 170, 0, 50);
                gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
                gradientFill.addColorStop(1, "rgba(249, 99, 59, 0.40)");
                console.log(myChart)
            },
            initChart (chart) {
                if (chart.config.options.elements.center) {
                    // Get ctx from string
                    const ctx = chart.chart.ctx
                    // Get options from the center object in options
                    const centerConfig = chart.config.options.elements.center
                    const fontStyle = centerConfig.fontStyle || 'Arial'
                    const txt = centerConfig.text
                    const color = centerConfig.color || '#000'
                    const sidePadding = centerConfig.sidePadding || 20
                    const sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
                    // Start with a base font of 30px
                    ctx.font = '5px ' + fontStyle
                    // Get the width of the string and also the width of the element minus 10 to give it 5px side padding
                    const stringWidth = ctx.measureText(txt).width
                    const elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated
                    // Find out how much the font can grow in width.
                    const widthRatio = elementWidth / stringWidth
                    const newFontSize = Math.floor(30 * widthRatio)
                    const elementHeight = (chart.innerRadius * 2)
                    // Pick a new font size so it will not be larger than the height of label.
                    const fontSizeToUse = Math.min(newFontSize, elementHeight)
                    // Set font settings to draw it correctly.
                    ctx.textAlign = 'center'
                    ctx.textBaseline = 'middle'
                    const centerX = ((chart.chartArea.left + chart.chartArea.right) / 2)
                    const centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2)
                    ctx.font = '5' + 'px ' + fontStyle
                    ctx.fillStyle = color
                    // Draw text in center
                    ctx.fillText(txt, centerX, centerY)
                }
            }
        },
        filters:{

        }

    }
</script>

<style scoped>
    .dt-buttons{
        display: none !important;
    }
    .alert_buttons{
        background-color: red ;
    }
    .bonnti-background{
        background-color: #c21d30!important;
    }
</style>

